[Unit]
Description=DemoService Daemon
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/demoserviced
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target